<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <connectionStrings>

    <add name="AgregatorBaseContex"
         connectionString="Data Source=(localdb)\mssqllocal;Initial Catalog=AgregatorBaseDb;
         Integrated Security=true"
         
         providerName="System.Data.SqlClient"/>


    <add name="LocalBaseContex"
         connectionString="Data Source=(localdb)\mssqllocal;Initial Catalog=LocalBaseDb;
         Integrated Security=true"
         
         providerName="System.Data.SqlClient"/>

  </connectionStrings>

</packages>